<h2>Welcome to Social Media</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga commodi aperiam cum ab atque eaque vitae, sequi quam quasi eos.</p>
<% if (message) { %><p class="error"><%= message %></p><% } %>

